@{
    ViewData["Title"] = "Home Page";
    var alert = "Bu Bir Uyarı Mesajıdır";
}

@*<partial name="_MenuPartialView" />
@await Html.PartialAsync("_MenuPartialView")

<div>Günün Tarhi : @DateTime.Now.ToShortDateString()</div>

@{
    var datetime = DateTime.Now.ToShortDateString();
    var message = "Merhaba";
    @alert
    @: Bugünün Tarihi : @datetime
    <div>Mesaj : @message</div>
    <text> Bugünün Tarihi : @datetime</text>

   
       
}
@if (1 == 1)
{
    <p>doğru</p>
}
else if(DateTime.IsLeapYear(DateTime.Now.Year))
{
    <p>Artık Yıl</p>
}
else
{
    <p>Yanlış</p>
}

@for (var i = 0; i < 10; i++)
{
    <p>@i</p>
}

@foreach (var item in Enumerable.Range(1,10).ToList())
{
    @item
}*@
@section Styles{

    <link href="~/css/example.css" rel="stylesheet" />
    <style>
        h1{
            color:red;
            background-color: blue;
        }
    </style>
}

<h1>Merhaba  Dünya</h1>
<hr />
<h2>Merhaba Asp.Net</h2>
@section Scripts{
    <script type="text/javascript">
        //alert("Sayfamıza Hoş Geldiniz")
        $(document).ready(function(){
            console.log("Sayfamıza Hoş Geldiniz");
        })
    </script>
}